{% extends 'mainapp/basic.html'%}
{% block title %}Зміна паролю{% endblock %}

{% block body %}
    <h2>Створення нового паролю</h2>
    {% if validlink %}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <button style="submit">Підтвердити новий пароль</button>
        </form>
    {% else %}
        <p style="color:red;">Неправильний токен</p>
        <p>
            <a href="/password_reset">Запитати новий токен?</a>
        </p>
    {% endif %}


{% endblock %}