<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content = "width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %}{% endblock %}</title>
    <style>
   .text {
    text-align:  center;
   }
  </style>
<body style="color:black">
<div class="container">
    <div class="text">
        <p>

        {% if user.is_authenticated %}
            <a class="btn btn-outline-primary" href="/home"><big>Головна</big></a>
            <a class="btn btn-outline-primary" href="/list_p"><big>Мої пропозиції</big></a>
            <a class="btn btn-outline-primary" href="/create"><big>Створення</big></a>
            <a class="btn btn-outline-primary" href="/done"><big>Виконані</big></a>
            <a class="btn btn-outline-primary" href="/comment"><big>Коментар</big></a>
            <strong>Ви ввійшли як {{ user.username }}</strong>
            <a class="btn btn-outline-primary" href="/password_change"><big>Змінити пароль</big></a>
            <a class="btn btn-outline-primary" href="/logout"><big>Вихід</big></a>


        {% else %}
            <a class="btn btn-outline-primary" href="/signup"><big>Реєстрація</big></a>
            <a class="btn btn-outline-primary" href="/login"><big>Вхід</big></a>
        {% endif %}
        </div>
     </div>
{% block body %}

{% endblock %}
</body>
</html>
