{% extends 'mainapp/basic.html' %}
{% block title %} Коментарі {{ title }}
{% endblock %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Опис</th>
                <th scope="col">Продукт</th>
                <th scope="col">Коментар</th>
                <th scope="col">Автор коментаря</th>
                <th scope="col">Дата написання</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
        {% for element in comm %}
            <tr>
                <th scope="row">{{ prod.title }}</th>
                <td>{{ prod.content }}</td>
                <td>{{ element.content }}</td>
                <td>{{ element.user_id }}</td>
                <td>{{ element.created_at }}</td>
                {% ifequal element.revised True %}
                    <td>Переглянуто</td>
                {% else %}
                    <td> <a class="btn btn-link"  href="/revised/{{ element.id }}/">Переглянути</td>
                {% endifequal %}
            </tr>
        {% endfor %}
        </tbody>
{% endblock %}