{% extends 'mainapp/basic.html' %}
{% block title %}Домашня сторінка{% endblock %}
{% block body %}
    {% if user.is_autenticated %}
        <h1>{{ user.username}}</h1>
    {% else %}
       {{ prof.name.all }}
        <h1>{{ user.username}}</h1>
    {% endif %}


            {% for element in prod %}
        <div class="alert alert-primary" role="alert">
            <p>{{ element.id }}**{{ element.title }} - {{ element.content }} - {{ element.author }} - {{ element.email }}</p>
            {% if user.is_authenticated %}
                <a href="/look/{{ element.id }}" class="alert-link">Дивитись детально тисни тут</a>
            {% endif %}
        </div>
            {% endfor %}


{% endblock %}