{% extends 'mainapp/basic.html' %}

{% block title %}Мої пропозиції{% endblock %}

{% block body %}
{% load static %}
    {% for element in prod %}
        {% if element.is_active == True %}
        <div class="alert alert-primary" style="width:600px; display: block; margin: 0 auto;
        text-align:center" role="alert">
            {{ element.title }}<p></p>
            {{ element.content }}
            <p></p><img src="{{ element.image.url }}" style="width:200px; display: block; margin: 0 auto;
        text-align:center"><p></p>
            <a class="btn btn-outline-primary"  href="/comment/{{ element.id }}">Подробиці</a>
            <a class="btn btn-outline-primary"  href="/product/{{ element.id }}">Видалити?</a>
        </div>
        <p></p>
        {% endif %}

    {% endfor %}


{% endblock %}
