{% extends 'mainapp/basic.html' %}

{% block title %}
Перегляд відгуків
{% endblock %}

{% block body %}

    <ul class="list-group" style="height:200px;width:600px; display: block; margin: 0 auto; text-align:center">
        <li class="list-group-item active" aria-current="true"> Пропозиція {{ user_list.author }}</li>
        <li class="list-group-item"><h4>Товар</h4>  {{ user_list.title }}</li>
        <li class="list-group-item"><h4>Опис товару</h4> {{ user_list.content }}</li>
    </ul>

<p></p>
<form method="POST">
    {% csrf_token %}
    {% for field in form %}
    <p>
<div style="height:200px;width:600px; display: block; margin: 0 auto;
        text-align:center">
        {{ field }}
</div>
    </p>
        {% endfor %}
    <button style="text-align:center; margin: 0 auto; display: block" type="submit">Додати коментар</button>

{% endblock %}
