{% extends 'mainapp/basic.html' %}
{% block title %}Реєстрація нового користувача{% endblock %}
{% block body %}
    <form method="POST">
    {% csrf_token %}
    <form method="post" action="">
        <dl class="register">
            <div class="alert alert-warning" style="width:600px; display: block; margin: 0 auto;
        text-align:center" role="alert">
            {% for field in form %}
<!--            <dt>{{ field.label_tag }}</dt>-->
            <dd class="clearfix">{{ field }}
                {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
            </dd>
            {% endfor %}
            {% for field in profile_form %}
<!--            <dt>{{ field.label_tag }}</dt>-->
            <dd class="clearfix">{{ field }}
                {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
            </dd>
            {% endfor %}
        <button type="submit">Внести в базу нового користувача</button>
            </div>
        </dl>
</form>
{% endblock %}
